<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<object th:include="/fragment/header.html :: meta-fragment" th:remove="tag"></object>
<script
  src="//maps.googleapis.com/maps/api/js?key=AIzaSyBW27BCI0qusrxF_36_g3N5A86ddZbwjvI&libraries=geometry"></script>
<script src="../js/lib/ua-parser.min.js"></script>
<link rel="stylesheet" href="../css/navi.css" />
<script src="../js/lib/geolocation-marker.js"></script>
<script src="../js/task-common.js"></script>
<script src="../js/checkpoint-utils.js"></script>
<script src="../js/map-utils.js"></script>
<script src="../js/task-common.js"></script>
<script src="../js/navi.js"></script>
<title>ナビ</title>
</head>
<body>
  <div class="container">
    <div th:replace="/fragment/header.html :: top-menu"></div>
    <div class="row no-gutter">
      <div id="initial-warning-msg-area" class="col-xs-12">
        <div class="alert alert-warning" style="margin: 0 0 1em 0; padding: 0 1em;">
          <h5>位置情報が利用できません．設定を確認して下さい</h5>
          <div id="initial-warning-msg-ios" style="display: none">
            <p>
              端末のホーム画面で，[設定]＞[プライバシー]＞[位置情報サービス] をタップし，<strong class="green">[位置情報]をオン</strong>にします．
              つづいて，<strong class="green">[Safariのサイト]または[Chrome]をタップし，位置情報を[許可しない]から[使用中のみ許可]</strong>に変更して下さい．
              (<a class="alert-link" href="troubleshooting.html#gps-settings"> <i
                class="glyphicon glyphicon-hand-right"></i> さらに位置情報サービスの設定方法を見ますか？
              </a>)
            </p>
            <div class="media">
              <img class="media-object img-thumbnail center-block" src="../img/web/gps-ios-app.png"
                style="max-width: 200px;">
            </div>
          </div>
          <div id="initial-warning-msg-android" style="display: none">
            <p>端末のホーム画面で，[設定]＞ [ユーザー設定]をタップし，上部の [ON/OFFスイッチ] をタップします．</p>
            <div class="media">
              <img class="media-object img-thumbnail center-block" src="../img/web/gps-android.png"
                style="max-width: 280px;">
            </div>
          </div>
          (<a id="hide-gps-settings-alert" class="alert-link"> <i
            class="glyphicon glyphicon-hand-right"></i> このメッセージを二度と表示しない
          </a>)
        </div>
      </div>
      <div id="initial-msg" class="col-xs-12">
        <div class="alert alert-info" style="margin: 0; padding: 0 1em;">
          位置情報を取得しています… (<a class="alert-link" href="troubleshooting.html#gps-settings"> <i
            class="glyphicon glyphicon-hand-right"></i> 位置情報サービスの設定
          </a>)
        </div>
      </div>
      <div class="col-xs-12">
        <div id="error-msg-area" class="alert alert-warning" style="display: none; padding: 0 1em;">
          端末の<span class="gps-error-msg">現在位置</span><span class="error-msg-splitter"
            style="display: none;">/</span><span class="compass-error-msg">方向</span>が取得できないためナビゲーションできません．
          (<span class="gps-error-msg"><a class="alert-link"
            href="troubleshooting.html#gps-settings"> <i class="glyphicon glyphicon-hand-right"></i>
              位置情報サービスの設定
          </a></span><span class="error-msg-splitter" style="display: none;">/</span><span
            class="compass-error-msg"><a class="alert-link"
            href="troubleshooting.html#heading-settings"> <i
              class="glyphicon glyphicon-hand-right"></i> 端末の方向
          </a></span>)
        </div>
      </div>
    </div>
    <div class="row no-gutter top-margin pull-right">
      <div id="checkin-log-wrapper" class="col-xs-12">
        <button id="btn-checkin-log" class="btn btn-sm btn-success" role="button" disabled>0人がチェックイン</button>
      </div>
    </div>
    <div class="row">
      <div id="checkpoint-info" class="col-xs-12"></div>
    </div>
    <div class="row bottom-margin">
      <div class="col-xs-6">
        <div>
          <a class="btn btn-primary-magc btn-lg" id="btn-next" role="button" th:text="#{btnCheckin}">チェックイン</a>
        </div>
        <div>
          <span id="distance-wrapper" style="display: none;"><span id="distance-prefix"
            th:text="#{spanRestDistance}">残り およそ</span><br> <span id="distance"></span></span>
        </div>
      </div>
      <div id="compass-wrapper" style="display: none;">
        <div class="col-xs-6">
          <img src="../img/arrow.png" id="compass">
        </div>
      </div>
    </div>
    <div class="row bottom-sm">
      <div class="col-xs-12">
        <p id="compass-notice">コンパスは目的地の大まかな方向を指します．電波が届きにくい場所では正常に動作しません．</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div id="map-box">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="notification-msg-area" class="alert alert-danger" style="display: none; padding: 0 1em;"></div>
</body>
</html>
