<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<object th:include="/fragment/header.html :: meta-fragment" th:remove="tag"></object>
<title th:text="#{title}"></title>
<script src="../js/score.js"></script>
<link rel="stylesheet" href="../css/score.css" />
</head>
<body>
  <div class="container">
    <div th:replace="/fragment/header.html :: top-menu"></div>
    <div class="row">
      <!-- <p class="my-names pull-right"><span id="my-user-name" class="name"></span>さん／<span id="my-group-name" class="name"></span>グループ</p> -->
      <p id="my-names" class="pull-right">
        <span id="my-user-name" class="name"></span>
      </p>
    </div>
    <div class="row">
      <p id="my-ranking" class="pull-right">
        Ranking No. <span id="my-rank" class="num"></span> / <span id="my-score" class="num"></span>pt
      </p>
    </div>
    <div class="row" style="display: none;">
      <p id="my-group-ranking" class="pull-right">
        グループ順位<span id="my-group-rank" class="num"></span>位 / <span id="my-group-score" class="num"></span>pt
      </p>
    </div>
    <div class="row">
      <!-- <h1 class="doc-header">個人ランキング</h1>  -->
      <ul id="rankings" class="list-group">
      </ul>
    </div>

    <div class="row" style="display: none;">
      <h1 class="doc-header">グループランキング</h1>
      <ul id="group-rankings" class="list-group">
      </ul>
    </div>
  </div>
</body>
</html>
