<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<object th:include="/fragment/header.html :: meta-fragment" th:remove="tag"></object>
<script src="../js/signup.js"></script>
<title th:text="#{title}">サインアップ</title>
</head>
<body>
  <div class="container">
    <div th:replace="/fragment/header.html :: top-menu"></div>
    <div class="row">
      <div class="col-sm-12">
        <div class="narrow-description" th:utext="#{notice}"></div>
        <div class="form">
          <div class="form-group">
            <label th:text="#{labelNickname}">ニックネーム(1文字以上8文字以下) </label> <input
              class="form-control" type="text" id="user-id" name="user-id" placeholder="nickname"
              pattern=".{1,8}" required />
          </div>
          <button type="button" class="btn btn-primary-magc btn-lg btn-block" role="button"
            id="register-btn" th:text="#{btnRegister}">登録</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
