<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<object th:include="/fragment/header.html :: meta-fragment" th:remove="tag"></object>
<script type="text/javascript" src="../js/lib/qr/megapix-image.js"></script>
<script type="text/javascript" src="../js/lib/qr/grid.js"></script>
<script type="text/javascript" src="../js/lib/qr/version.js"></script>
<script type="text/javascript" src="../js/lib/qr/detector.js"></script>
<script type="text/javascript" src="../js/lib/qr/formatinf.js"></script>
<script type="text/javascript" src="../js/lib/qr/errorlevel.js"></script>
<script type="text/javascript" src="../js/lib/qr/bitmat.js"></script>
<script type="text/javascript" src="../js/lib/qr/datablock.js"></script>
<script type="text/javascript" src="../js/lib/qr/bmparser.js"></script>
<script type="text/javascript" src="../js/lib/qr/datamask.js"></script>
<script type="text/javascript" src="../js/lib/qr/rsdecoder.js"></script>
<script type="text/javascript" src="../js/lib/qr/gf256poly.js"></script>
<script type="text/javascript" src="../js/lib/qr/gf256.js"></script>
<script type="text/javascript" src="../js/lib/qr/decoder.js"></script>
<script type="text/javascript" src="../js/lib/qr/qrcode.js"></script>
<script type="text/javascript" src="../js/lib/qr/findpat.js"></script>
<script type="text/javascript" src="../js/lib/qr/alignpat.js"></script>
<script type="text/javascript" src="../js/lib/qr/databr.js"></script>
<script type="text/javascript" src="../js/task-common.js"></script>
<script type="text/javascript" src="../js/task-qr.js"></script>
<link rel="stylesheet" href="../css/task-qr.css" />
<title></title>
</head>
<head th:remove="all">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<script src="../js/citywalk.js"></script>
</head>
<body>
  <input id="file-input" name="file-input" type="file" accept="image/*"
    onchange="handleFiles(this.files)" />
  <div class="container">
    <div th:replace="/fragment/header.html :: top-menu"></div>
    <div class="row">
      <div class="col-xs-12">
        <div class="narrow-description">QRコードを撮影して下さい．</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="img-wrapper">
          <img class="img-rounded" src="../img/nopicture.svg" id="img-preview"
            onClick="$('#file-input').click()">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div id="btn-file-input" class="btn btn-primary-magc btn-lg" onClick="$('#file-input').click()">QRコードを撮影</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button id="btn-next" class="btn btn-primary-magc btn-lg btn-fill" disabled>送信</button>
      </div>
    </div>
  </div>
  <div th:replace="/fragment/modal.html :: modal"></div>
</body>
</html>
