<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<object th:include="/fragment/header.html :: meta-fragment" th:remove="tag"></object>
<script src="../js/task-common.js"></script>
<script src="../js/task-photo.js"></script>
<link rel="stylesheet" href="../css/task-photo.css" />
<title></title>
</head>
<body>
  <input id="file-input" name="file-input" type="file" accept="image/*"
    onchange="handleFiles(this.files)" />
  <div class="container">
    <div th:replace="/fragment/header.html :: top-menu"></div>
    <div class="row">
      <div class="col-xs-12">
        <div class="narrow-description">左側の写真と同じような写真を撮って下さい．</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="img-wrapper">
          <img id="task-img" class="img-rounded">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="img-wrapper">
          <img class="img-rounded" src="../img/nopicture.svg" id="img-preview">
        </div>
        <div id="btn-file-input" class="btn btn-primary-magc btn-lg">写真を撮影</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button id="btn-next" class="btn btn-primary-magc btn-lg btn-fill" disabled>送信</button>
      </div>
    </div>
  </div>
  <div th:replace="/fragment/modal.html :: modal"></div>
</body>
</html>
