<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<object th:include="/fragment/header.html :: meta-fragment" th:remove="tag"></object>
<script type="text/javascript" src="../js/task-common.js"></script>
<script type="text/javascript" src="../js/task-pin.js"></script>
<!-- <link rel="stylesheet" href="../css/task-description.css" /> -->
<title></title>
</head>
<head th:remove="all">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
</head>
<body>
  <div class="container">
    <div th:replace="/fragment/header.html :: top-menu"></div>
    <div class="row">
      <div class="col-sm-12">
        <div class="margin-container">
          <h1 id="label" class="doc-header"></h1>
          <input id="answer-text" class="form-control" type="number" placeholder="半角数字4桁" />
          <button id="btn-next" class="btn btn-primary btn-next-fill">回答する</button>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="/fragment/modal.html :: modal"></div>
</body>
</html>
