<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:fragment="meta-fragment">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<script src="../js/citywalk.js"></script>
<link rel="stylesheet" href="../css/header.css" />
</head>
<div class="container">
	<div class="row" th:fragment="top-menu" id="menu">
		<div class="col-sm-12">
			<div id="mag-nav">
				<span id="nav-title">MAGCruiseCityWalk</span>
				<div id="nav-menu" class="dropdown pull-right">
					 <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="orange-dropdown">
				 		<b class="caret"></b>
				 		これまでの行動
					</a>
					<ul class="dropdown-menu">
						<li><a href="ranking.html" class="item">ランキング</a></li>
						<li><a href="visited-checkpoints.html" class="item">訪問済みチェックポイント</a></li>
						<li><a href="badge.html" class="item">バッジ</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="checkpoints.html" class="item">チェックポイント一覧</a></li>
						<li><a href="login.html" class="item">ログアウト</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</html>
