<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:fragment="meta-fragment">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
</head>
<div class="container">
	<div class="row" th:fragment="modal">
		<a href="#modal" id="modal"></a>
		<div class="remodal" data-remodal-id="modal" role="dialog"
			aria-labelledby="modalTitle" aria-describedby="modalDesc"
			data-remodal-options="closeOnOutsideClick: false">
			<div>
				<p id="modalTitle"></p>
				<h2 id="modalDesc"></h2>
			</div>
			<br>
			<button data-remodal-action="confirm" class="remodal-confirm">OK</button>
		</div>
	</div>
</div>
</html>
