.badge-item .wrapper {
  margin: 6px;
  background: white;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 1px 1px 0px rgba(198, 198, 198, 0.5);
  text-align: center; }
  .badge-item .wrapper img {
    margin-top: 10px;
    max-width: 90%;
    max-height: 90%; }
  .badge-item .wrapper .name {
    font-size: 12px;
    margin-top: 10px;
    color: #38A997; }
