html {
  height: 100%; }

body {
  height: 100%;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  background-color: #E4EFF3; }

a, button, input .btn {
  touch-action: none; }

.green {
  color: #38A997; }

/** util **/
.h-center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.v-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }

.v-middle-cell {
  display: table-cell;
  vertical-align: middle; }

.no-margin {
  margin-right: 0px;
  margin-left: 0px; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.top-margin {
  margin-top: 15px; }

.bottom-margin {
  margin-bottom: 15px; }

.top-margin-sm {
  margin-top: 6px; }

.bottom-margin-sm {
  margin-bottom: 6px; }

/* Start overwrite bootstrap style */
.container {
  height: 100%; }

.btn {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -m-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border: none; }

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -m-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; }

/* End overwrite bootstrap style */
/* common */
h1.doc-header {
  margin: 10px;
  font-size: 24px;
  color: #38A997; }

h1.doc-header-bg {
  margin: 10px;
  font-size: 28px;
  color: #38A997; }

.narrow-description {
  font-size: 13px;
  color: #999;
  letter-spacing: 0.07px;
  line-height: 17px; }

.answer-input {
  font-family: arial, sans-serif;
  font-size: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -m-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px; }

.btn-primary-magc {
  background: #FA833C;
  color: white;
  border: none; }
  .btn-primary-magc:hover, .btn-primary-magc:focus {
    background: #ef7f38;
    color: white;
    border: none; }
  .btn-primary-magc:active {
    background: #dd7533;
    color: white;
    border: none; }

.btn-fill {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%; }

.sweet-alert h2 {
  color: black;
  font-weight: normal; }

#loading {
  width: 90px;
  height: 90px;
  margin: -45px 0 0 -45px;
  opacity: 0.5;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100000; }
