.doc-page {
  /*
    .col-lg-12, .col-md-12, .col-sm-12, .col-xs-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
  */ }
  .doc-page hr {
    border-top: 1px solid #ddd; }
  .doc-page h3 {
    font-size: 20px; }
  .doc-page ul, .doc-page ol {
    padding-left: 2em; }
