#mag-nav {
  height: 60px;
  background: #0074BF;
  padding: 10px 0px; }

#back {
  margin-top: 4px;
  height: 40px;
  cursor: pointer;
  padding-left: 6px; }
  #back.disabled {
    opacity: 0.15; }

#forward {
  margin-top: 4px;
  height: 40px;
  cursor: pointer;
  padding-left: 10px; }
  #forward.disabled {
    opacity: 0.15; }

#nav-title {
  font-size: 110%;
  color: white;
  text-align: center; }

#nav-menu {
  margin: 4px 10px; }

#nav-menu #top-dropdown {
    cursor: pointer;
    font-size: 20px;
    padding: 6px 12px;
    height: 40px;
    background: #FA833C;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -m-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }
  #nav-menu #dropdown-menu-icon {
    height: 35px; }
  #nav-menu .dropdown-menu {
    padding: 0; }
  #nav-menu .dropdown {
    cursor: pointer;
    padding: 0 10px; }
  #nav-menu .dropdown-toggle {
    color: white; }
  #nav-menu .dropdown-menu > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  #nav-menu .dropdown-menu > li > div {
    padding-top: 10px;
    text-align: center; }

#user-name {
  color: #AAA; }
