#mag-nav {
  width: 100%;
  height: 60px;
  text-align: center;
  background: #0074BF;
  padding: 10px 0px;
}

#mag-nav #back {
  cursor: pointer;
  margin-top: 4px;
  margin-left: 10px;
}

#mag-nav #nav-title {
  font-size: 14px;
  color: white;
  margin-top: 4px;
}

#mag-nav #nav-menu {
  font-size: 12px;
  margin-top: 4px;
  min-width: 100px;
}

#mag-nav .dropdown {
  cursor: pointer;
  padding: 6px;
}

#mag-nav .dropdown-toggle {
  color: white;
}

#orange-dropdown {
  padding: 10px;
  background: #FA833C;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -m-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

.dropdown-menu>li>a {
  padding: 10px 20px;
}

#user-name {
  padding: 10px 20px;
}