$baseWidthValue: 1024;
$baseWidth: #{$baseWidthValue}px;

$smallMargin: 6px;
$standardMargin: 10px;
$bootstrapMargin: 15px;
$xLargeMargin: 30px;

$sideMargin: 10px;

$simpleFontFamily: arial, sans-serif;

$fs1: 28px;
$fs2: 24px;
$fs3: 21px;
$fs4: 13px;
$fs5: 11px;
$fs6: 9px;

$hoverOpacity: 0.6;

$primaryColor: #0074BF;
$descriptionColor: #999;
$greenColor: #38A997;
$orangeColor: #FA833C;
$bgColor: #E4EFF3;
$lightGrayColor: #AAA;