@import "settings";
@import "mixins";

#qs-carousel{
  border: 2px solid #CCC;
}

.carousel-inner .item {
  height: 350px;
}

.carousel-inner img {
  margin: auto;
}

.carousel-caption {
  color: #000;
  background-color: #eee;
  opacity: 0.8;
}

.carousel-caption h3 {
  font-size: 24px;
}

.carousel-control .icon-next, .carousel-control .icon-prev {
  color: #FA833C;
  font-size: 64px;
  font-weight: bold;
}

/*
.carousel-control.left {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, .1) 100%);
}

.carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, 0.5) 100%);
}
*/