@import "settings";
@import "mixins";

#map-box {
  height: 240px;
  #map {
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  $length: 50px;
  #current-position {
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: 90px;
  }
  #nav-start {
    position: absolute;
    height: 32px;
    right:  $standardMargin * 5;
    bottom:  20px;
  }
}

.near {
  background: $orangeColor;
}

.far {
  background: $greenColor;
}

#max-category-depth-wrapper {
  >span{
    color: $lightGrayColor;
  }

  button{
    font-size: 12px;
  }

}


#breadcrumb {
  >span{
    color: $lightGrayColor;
  }

}

$checkpointHeight: 70px;
$margin: 8px;

#checkpoints{
  min-height: 320px;
  max-height: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.checkpoint {
  cursor: pointer;
  background: white;
  border: 1px solid #DDD;

  a {
    display: block;
      width: 100%;
      height: 100%;
  }
  .distance {
    color: white;
    $length: $checkpointHeight - $margin*2;
    margin: $margin;
    line-height: $length;
    text-align: center;
    height: $length;
    width: $length;
    font-size: 12px;
    font-weight: bold;
    @include round($checkpointHeight - $margin*2);
  }
  .checkpoint-img {
    display: block;
    width: $checkpointHeight;
    height: $checkpointHeight;
  }
  .text {
    padding-left: $standardMargin;
    display: table-cell;
    vertical-align: middle;
    height: $checkpointHeight;
    .name {
      font-size: 16px;
      color: $primaryColor;
    }
    .detail {
      font-size: 12px;
      color: $lightGrayColor;
    }
  }
}

.selected {
  background: #FCF8E3;
}

#gps-error-msg {
  margin: 0;
}

#nav-start-in-list{
  background: #31aa97;
  color: white;
  border: none;
  &:hover,&:focus {
    background: #31aa97;
    color: white;
    border: none;
  }
  &:active {
    background: #31aa97;
    color: white;
    border: none;
  }
}

.balloon-description {
  color: #999;
}
