@charset "UTF-8";

@import "settings";
@import "mixins";

body {
  background-color: $bgColor;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;;
}

/** util **/
.h-center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.v-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.no-padding{
  padding-right: 0px;
  padding-left: 0px;
}

.top-margin {
  margin-top: $largeMargin;
}

.bottom-margin {
  margin-bottom: $largeMargin;
}


/* Start overwrite bootstrap style */

.btn {
  @include round(5px);
  font-size: 20px;
  border: none;
}

.btn-primary {
  background: #FA833C;
  color: white;
  &:hover {
    background-color: #FA833C;
  }
}

.btn-info {
  background-color: #0587C4;
  &:hover {
    background-color: #0587C4;
  }
}

.btn-post {
  background-color: #FF972B;
  &:hover {
    background-color: #FF972B;
  }
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
	@include round(5px);
}

.form-control {
  font-family: $simpleFontFamily;
  font-size: 20px;
  @include round(8px);
}

/* End overwrite bootstrap style */

h1.doc-header {
  margin: $baseMargin;
  font-size: $fs2;
  color: $greenColor;
}

h1.doc-header-bg {
  margin: $baseMargin;
  font-size: $fs1;
  color: $greenColor;
}

.description {
  font-size: 13px;
  color: $descriptionColor;
  letter-spacing: 0.07px;
  line-height: 17px;
}


.btn-next-fill {
  margin-top: $xLargeMargin;
  margin-bottom: $xLargeMargin;
  width: 100%;
}

