@charset "UTF-8";

@import "settings";
@import "mixins";

body {
  background-color: $bgColor;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;;
}

/** util **/
.h-center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.v-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.v-middle-cell{
  display:table-cell;
  vertical-align:middle;
}
.no-margin {
  margin-right: 0px;
  margin-left: 0px;
}

.no-padding{
  padding-right: 0px;
  padding-left: 0px;
}

.top-margin {
  margin-top: $bootstrapMargin;
}

.bottom-margin {
  margin-bottom: $bootstrapMargin;
}

.top-margin-sm {
  margin-top: $smallMargin;
}

.bottom-margin-sm {
  margin-bottom: $smallMargin;
}




/* Start overwrite bootstrap style */

.container{
  max-width: 720px;
}

.btn {
  @include round(5px);
  border: none;
}

.btn-primary {
  @include round(5px);
  border: none;
  background: #FA833C;
  color: white;
  &:hover {
    background-color: #FA833C;
  }
}

.btn-info {
  @include round(5px);
  border: none;
  background-color: #0587C4;
  &:hover {
    background-color: #0587C4;
  }
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
	@include round(5px);
}

/* End overwrite bootstrap style */

/* common */
h1.doc-header {
  margin: $standardMargin;
  font-size: $fs2;
  color: $greenColor;
}

h1.doc-header-bg {
  margin: $standardMargin;
  font-size: $fs1;
  color: $greenColor;
}

.narrow-description {
  font-size: 13px;
  color: $descriptionColor;
  letter-spacing: 0.07px;
  line-height: 17px;
}

.answer-input {
  font-family: $simpleFontFamily;
  font-size: 20px;
  @include round(8px);
}


.btn-fill {
  @include round(5px);
  border: none;
  margin-top: $xLargeMargin;
  margin-bottom: $xLargeMargin;
  width: 100%;
}

.sweet-alert h2{
  color: black;
  font-weight: normal;
  }
