@import "settings";
@import "mixins";

.doc{
  h3 {
    font-size: 20px;
  }

  ul, ol{
    padding-left: 2em;
  }

  p,ul,ol{
    font-family: $simpleFontFamily;
  }

  hr {
    border-top: 1px solid #ddd;
  }

}
