@import "settings";
@import "mixins";

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#mag-nav {
  width: 100%;
  height: 60px;
  text-align: center;
  background: $primaryColor;
  padding: $baseMargin 0px;
  #back {
    cursor: pointer;
    padding-left:10px;
  }
  #nav-title {
    font-size: 14px;
    color: white;
  }
  #nav-menu {
    font-size: 12px;
    margin-top: 6px;
    min-width: 100px;
  }
  .dropdown {
    cursor: pointer;
    padding: $smallMargin;
  }
  .dropdown-toggle {
    color: white;
  }
}

#orange-dropdown {
  padding: $baseMargin;
  background: $orangeColor;
  @include round($baseMargin/2);
}

.dropdown-menu>li>a {
  padding: 10px 20px;
}

#user-name {
  padding: 10px 20px;
}
