@import "settings";
@import "mixins";

$navHeight: 60px;

#mag-nav {
  width: 100%;
  height: $navHeight;
  text-align: center;
  background: $primaryColor;
  padding: $standardMargin 0px;
}

#back {
  height: 40px;
  cursor: pointer;
  padding-left: $standardMargin;
}

#nav-title {
  font-size: 110%;
  color: white;
}

#nav-menu{
  padding-right: $standardMargin;

  #top-dropdown {
    cursor: pointer;
    font-size: 20px;
    padding: 6px 12px;
    background: $orangeColor;
    @include round($standardMargin/2);
  }

  #dropdown-menu-icon{
    height: $navHeight / 2;
  }

  .dropdown-menu{
    padding:0;
  }

  .dropdown {
    cursor: pointer;
    padding: 0 $standardMargin;
  }

  .dropdown-toggle {
    color: white;
  }

  .dropdown-menu>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .dropdown-menu>li>div {
    padding-top: 10px;
    text-align:center;
  }
}

#user-name{
  color: $lightGrayColor;
}

